@media only screen and (max-width: 480px) {
        
    /* ///////  LOADING    /////// */
    .load-container {
        width: 70%;
    }
    #btn-load-choose {
        width: 130px;
        height: 40px;
        font-size: 1.2em;
    }
    #btn-load-play {
        width: 130px;
        height: 40px;
        font-size: 1.2em;
    }
    .form-numbs {
        flex-direction: column;
    }
    select {
        height: 30px;
        margin: 5px auto 0 auto;
    }
    label {
        text-align: center;
    }   
    label[for=numb-players] {
        margin-left: 0;
        margin-top: 5px;
    }

    /* ///////  MAIN BOX    /////// */
    :root {
        --size-height-card: 125px;
        --width-form-card: 200px;
        --height-form-card: 300px;
    }
    #main-box {
        width: 100dvw;
        height: 100dvh;
    }
    #cards-container {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .board-players {
        left: auto;
    }
    .player-container {
        position: static;
    }
    .player-container.horizontal, .player-container.vertical {
        width: var(--size-width-deck);
        height: var(--size-height-card);
    }
    #pc-1 .name-player, #pc-2 .name-player, #pc-3 .name-player, #pc-4 .name-player, #center-cards-btn .name-player {
        inset: auto;
        background-color: var(--blue-dark-color);
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 3px 5px;
    }
    #deck-1, #deck-2, #deck-3, #deck-4 {
        flex-direction: row;
    }
    .player-container.horizontal .card, .player-container.vertical .card {
        width: var(--size-width-card);
        height: var(--size-height-card);
    }
    #main-play-btn {
        height: 35px;
        margin: 15px auto 0 auto;
    }
    .board-players {
        position: static;
        margin-left: 0;
        margin-top: 0;
        height: 70px;
        width: fit-content;
    }

    /* ///////  SELECTED CARDS    /////// */
    .selected-container {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0;
    }
    .selec-cards-container {
        margin-top: -32px;
    }
    .only-cards {
        width: inherit;
        height: 80%;
        flex-wrap: wrap;
    }
    .number-card p {
        font-size: 1.2em;
    }
    .name-card p {
        font-size: 1.2em;
    }
    .image-card img {
        width: 110px;
        padding: 0;
    }
    #text-result {
        margin-top: 0;
        font-size: 1.25em;
    }

    /* ///////  GAME OVER SECTION    /////// */
    #title-gameover {
        font-size: 1.8em;
    }
    #btn-reset-gameover button {
        margin-left: 1em;
    }
}
@media only screen and (max-width: 380px) {

    /* ///////  MAIN BOX    /////// */
    :root {
        --size-height-card: 100px;
        --size-width-card: 80px;
        --height-form-card: 210px;
        --width-form-card: 140px;
    }
    #cards-container {
        height: 95%;
    }
    #main-play-btn {
        margin: 10px auto 0 auto;
    }
    .player-container, #center-cards-btn {
        position: static;
    }
    .board-players {
        display: none;
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        height: 55px;
        font-size: 1em;
        top: auto;
        left: auto;
        right: auto;
        bottom: 10px;
    }
    .board-players.open {
        display: flex;
    }
    .info-player p {
        margin-top: 5px;
    }
    #btn-board-mobile {
        display: block;
        position: absolute;
        right: 100px;
        bottom: 0;
        margin: 0 10px 10px 0;
    }
    #btn-board-mobile div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 27px;
        padding: 2px;
        background-color: var(--white-color);
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    #btn-board-mobile button {
        border: 0;
        background-color: #ffffff00;
        margin-left: 5px;
    }

    /* ///////  SELECTED CARDS    /////// */
    .only-cards {
        height: 75%;
    }
    .form-card.mobile {
        width: 180px;
        height: 270px;
    }
    .form-card.mobile .number-card p, .form-card.mobile .name-card p {
        font-size: 1.1em;
    }
    .form-card.mobile .attrib-text, .form-card.mobile .attrib-value {
        font-size: 1.1em;
    }
    .tag-selec-card {
        font-size: 1em;
        margin-bottom: 0.5em;
    }
    .number-card p, .name-card p {
        font-size: 0.95em;
    }
    .image-card {
        height: 42.5%;
    }
    .image-card img {
        width: 80px;
        padding: 1px;
    }
    .attributes-card {
        margin-top: 4.5px;
    }
    .attrib-text, .attrib-value {
        font-size: 0.95em;
    }
    #text-result {
        font-size: 1.1em;
        margin-top: -5px;
    }
    #btn-selected-cards button {
        width: 125px;
        height: 40px;
    }
}