:root{
    --width-form-card: 250px;
    --height-form-card: 375px;
}

.selected-cards {
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.selected-container {
    margin: 35px 0;
}

.only-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.selec-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-pl-2, #card-pl-3, #card-pl-4 {
    display: none;
} 

.tag-selec-card {
    width: fit-content;
    padding: 5px 8px;
    background-color: var(--blue-dark-color);
    color: var(--white-color);
    font-size: 1.2em;
    border-radius: 3px;
    margin-bottom: 1em;
}

.form-card {
    width: var(--width-form-card);
    height: var(--height-form-card);
    background-color: var(--blue-dark-color);
    border: 2px outset var(--blue-dark-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-card {
    width: 90%;
    height: 8.5%;
    background-color: var(--blue-light-color);
    margin-top: 5%;
    border-radius: 2px 2px 0 0;
    display: flex;
}

.number-card {
    width: 30%;
    height: 100%;
    background-color: var(--yellow-dark-color);
    border-radius: 2px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-card p {
    font-size: 1.5em;
}

.name-card {
    width: 81.5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-card p {
    text-transform: capitalize;
    font-size: 1.5em;
}

.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40%;
    background-color: var(--red-dark-color);
}

.image-card img {
    width: 130px;
    padding: 8px;
    background-color: var(--yellow-color);
    border-radius: 50% 50%;
}

.attributes-card {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12.5px;
}

.button-card {
    border: none;
    width: 100%;
    height: 18.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgoldenrodyellow;
    color: black;
}

.button-card:hover:enabled {
    cursor: pointer;
    background-color: gold;
    border: 1px solid goldenrod;
}

.button-card.chosen{
    background-color: #ff4d4d;
}

.attrib-text {
    font-size: 1.2em;
    margin-left: 0.5em;
}

.attrib-value {
    font-size: 1.5em;
    margin-right: 0.5em;
}

#text-result {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: white;
    margin-top: 0.75em;
}

#btn-selected-cards {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 0.75em;
}

#btn-selected-cards button {
    width: 150px;
    height: 50px;
    background-color: var(--red-dark-color);
    color: white;
    font-size: 1.2em;
    border: 2px outset var(--red-dark-color);
    border-radius: 3px;
    cursor: pointer;
}

#btn-selected-cards button:hover {
    background-color: var(--red-color);
}
