:root {
    --size-height-card: 130px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

#main-box {
    width: 95vw;
    height: 95vh;
    background-color: burlywood;
    margin: auto auto;
}

#cards-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-deck {
    width: 200px;
    height: var(--size-height-card);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    position: relative;
    display: flex;
}

#main-play-btn {
    width: 100px;
    height: 50px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    color: white;
    font-size: 1.2em;
    border: 1px outset darkred;
    border-radius: 2px;
    cursor: pointer
}

#main-play-btn:hover {
    background-color: red;
}

.player-container {
    display: flex;
    position: absolute;
}

.player-container.horizontal {
    width: 200px;
    height: var(--size-height-card);
}
.player-container.vertical {
    width: var(--size-height-card);
    height: 200px;
}

#pc-1 {
    bottom: 0;
}
#pc-2 {
    right: 0;
}
#pc-3 {
    top: 0;
}
#pc-4 {
    left: 0;
}

.decks {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
}

#deck-1 {
    flex-direction: row;
}
#deck-2 {
    flex-direction: column-reverse;
}
#deck-3 {
    flex-direction: row-reverse;
}
#deck-4 {
    flex-direction: column;
}

.card {
    border: 1px solid black;
    background-color: green;
}
.card:last-child {
    flex-shrink: 0;
}

.decks:hover .card:last-child{
    flex-shrink: 1;
} 
#cards-container .card:hover {
    flex-shrink: 0;
}

.player-container.horizontal .card {
    width: 100px;
    height: var(--size-height-card);
}
.player-container.vertical .card {
    width: var(--size-height-card);
    height: 100px;
}

.board-players {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: greenyellow;
    border-radius: 3px;
}

.info-player {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.info-player:not(:last-child) {
    border-right: 1px solid white;
}

.info-player p {
    margin-top: 10px;
}